body {
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
  background-position-y: 75%;
  background-image: url('./assets/turtle.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 60vw;
  border-right: 1px solid green;
  border-left: 1px solid green;
}

.header-container {
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(0, 128, 0, 0.296);
  width: 50%;
  text-align: center;
}

p {
  font-size: 35px;
  font-style: bold;
}

.game-board {
	width: 75%;
	height: 80%;
	margin: 0 auto;
  background-color: rgba(34, 139, 34, 0.417);
  color: #fff;
  border: 6px solid black;
  border-radius: 80px;
  overflow: hidden;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  border: 6px solid black;
  border-radius: 2px;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  font-size: 40px;
}

.player-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 20vw;
  color: white;
  border-right: 1px solid green;
  background-image: url('./assets/turtle\ left.jpeg');
  background-position-x: 35%;
}

.player-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 20vw;
  color: white;
  border-left: 1px solid green;
  background-image: url('./assets/turtle\ right.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 35%;
}